{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <h1>Nouvel article</h1>
        {{ form(articleForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

